<!--
 Copyright Regione Piemonte - 2023
 SPDX-License-Identifier: EUPL-1.2-or-later
 -->
 <div class="split-layout-content--height">
   <!--Layout Default-->
  <as-split direction="horizontal" *ngIf="validazioneLayout$ && validazioneLayout$!.set === 'default'" (dragEnd)="onSplitAreaResize($event, 'default', 'left')">
    <as-split-area [size]="validazioneLayout$!.default.slide_a ?? 0">
      <as-split direction="vertical">
        <as-split-area>
          <app-validazione-grafico class="validazione-grafico"
            [changeValueInput]='changeValueDataOutput$.asObservable()' [dataset]="dataset$.asObservable()"
            [visibilityNotValidDataSeries]="visibilityNotValidDataSeries$.asObservable()"
            [visibilitySeries]="visibilitySeries$.asObservable()" [deleteSeries]="deleteSeries$.asObservable()"
            [changeColorSeries]="changeColorSeries$.asObservable()">
          </app-validazione-grafico>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area  [size]="validazioneLayout$!.default.slide_b ?? 0">
      <as-split direction="vertical" (dragEnd)="onSplitAreaResize($event, 'default', 'right')">
        <as-split-area  [size]="validazioneLayout$!.default.slide_c ?? 0">
          <app-validazione-parametri [dataInput]="parameters$" (paramsOutput)="getParams($event)"
            (rowSelected)="getRow($event)" (visibilityNotValidDataSeries)="getVisibilityNotValid($event)"
            (visibilitySeries)="getVisibility($event)" (deleteSeries)="deleteSeries($event)"
            (changeColorSeries)="changeColorSeries($event)">
          </app-validazione-parametri>
        </as-split-area>
        <as-split-area [size]="validazioneLayout$!.default.slide_d ?? 0">
          <app-validazione-dettaglio [dataInput]="datasetDettaglio$.asObservable()"
            (valueDataOutput)="changeValueDataOutput($event)">
          </app-validazione-dettaglio>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>

   <!--Layout Colonna-->
  <as-split direction="horizontal" *ngIf="validazioneLayout$ && validazioneLayout$!.set === 'col'" (dragEnd)="onSplitAreaResize($event, 'col')">
    <as-split-area [size]="validazioneLayout$!.col.slide_a ?? 0">
      <app-validazione-grafico class="validazione-grafico" [changeValueInput]='changeValueDataOutput$.asObservable()'
        [dataset]="dataset$.asObservable()"
        [visibilityNotValidDataSeries]="visibilityNotValidDataSeries$.asObservable()"
        [visibilitySeries]="visibilitySeries$.asObservable()" [deleteSeries]="deleteSeries$.asObservable()"
        [changeColorSeries]="changeColorSeries$.asObservable()">
      </app-validazione-grafico>
    </as-split-area>
    <as-split-area [size]="validazioneLayout$!.col.slide_b ?? 0">
      <app-validazione-dettaglio [dataInput]="datasetDettaglio$.asObservable()"
        (valueDataOutput)="changeValueDataOutput($event)">
      </app-validazione-dettaglio>
    </as-split-area>
    <as-split-area [size]="validazioneLayout$!.col.slide_c ?? 0">
      <app-validazione-parametri [dataInput]="parameters$" (paramsOutput)="getParams($event)"
        (rowSelected)="getRow($event)" (visibilityNotValidDataSeries)="getVisibilityNotValid($event)"
        (visibilitySeries)="getVisibility($event)" (deleteSeries)="deleteSeries($event)"
        (changeColorSeries)="changeColorSeries($event)">
      </app-validazione-parametri>
    </as-split-area>
  </as-split>

   <!--Layout Reverse-->
  <as-split direction="horizontal" *ngIf="validazioneLayout$ && validazioneLayout$!.set === 'reverse'" (dragEnd)="onSplitAreaResize($event, 'reverse', 'right')">
    <as-split-area [size]="validazioneLayout$!.reverse.slide_a ?? 0">
      <as-split direction="vertical" (dragEnd)="onSplitAreaResize($event, 'reverse', 'left')">
        <as-split-area [size]="validazioneLayout$!.reverse.slide_c ?? 0">
          <app-validazione-dettaglio [dataInput]="datasetDettaglio$.asObservable()"
            (valueDataOutput)="changeValueDataOutput($event)">
          </app-validazione-dettaglio>
        </as-split-area>
        <as-split-area [size]="validazioneLayout$!.reverse.slide_d ?? 0">
          <app-validazione-parametri [dataInput]="parameters$" (paramsOutput)="getParams($event)"
            (rowSelected)="getRow($event)" (visibilityNotValidDataSeries)="getVisibilityNotValid($event)"
            (visibilitySeries)="getVisibility($event)" (deleteSeries)="deleteSeries($event)"
            (changeColorSeries)="changeColorSeries($event)">
          </app-validazione-parametri>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area [size]="validazioneLayout$!.reverse.slide_b ?? 0">
      <as-split direction="vertical">
        <as-split-area>
          <app-validazione-grafico class="validazione-grafico"
            [changeValueInput]='changeValueDataOutput$.asObservable()' [dataset]="dataset$.asObservable()"
            [visibilityNotValidDataSeries]="visibilityNotValidDataSeries$.asObservable()"
            [visibilitySeries]="visibilitySeries$.asObservable()" [deleteSeries]="deleteSeries$.asObservable()"
            [changeColorSeries]="changeColorSeries$.asObservable()">
          </app-validazione-grafico>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
