#app-ariaweb {
  .mat-checkbox {
    &.mat-checkbox-checked {
      .mat-checkbox-background {
        background-color: $blue-800;
      }
    }

  }


  .mat-table {
    .mat-header-cell {

      .mat-checkbox,
      .mat-checkbox-indeterminate {
        &.mat-checkbox-checked {
          .mat-checkbox-background {
            background-color: $white;
          }

          .mat-checkbox-checkmark {
            fill: $black;

            .mat-checkbox-checkmark-path {
              stroke: $blue-800 !important;
            }
          }
        }
      }

      .mat-checkbox-indeterminate {
        .mat-checkbox-background {
          background-color: $white;
        }

        .mat-checkbox-mixedmark {
          background-color: $primary;
        }

        .mat-checkbox-checkmark {
          fill: $black;

          .mat-checkbox-checkmark-path {
            stroke: $blue-800 !important;
          }
        }
      }
    }

  }

  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background-color: $primary;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba($primary, 0.54);
  }

  .mat-slide-toggle.mat-checked .mat-ripple-element,
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $primary;
  }


  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primary;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $primary;
  }

  .mat-radio-button {
    &:not(:last-child) {
      @extend .me-3;
    }

  }
}

      
.toggle {
  &--decimal {
    .mat-slide-toggle-content {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}