<!--
 Copyright Regione Piemonte - 2023
 SPDX-License-Identifier: EUPL-1.2-or-later
 -->
<div class="split-layout-content--height">
  <as-split direction="horizontal" *ngIf="validazioneLayout$ && validazioneLayout$!.set === 'default'"
    (dragEnd)="onSplitAreaResize($event, 'default', 'left')">
    <as-split-area [size]="validazioneLayout$!.default.slide_a ?? 0">
      <as-split direction="vertical">
        <as-split-area>
          <!--blocco per la scelta del tipo di elaborazione-->
          <div class="d-flex justify-content-between align-items-baseline mt-3 mx-3">
            <h2>{{'page.elaborazione.split_left.title' | translate}} </h2>
            <button mat-button class="mat-primary-text btn-toggle-group--primary" (click)="addGrafico()">
              <mat-icon>add_box</mat-icon>
              {{'button.add_elaboration' | translate}}
            </button>
          </div>
          <div *ngIf="(graficiStore$ | async) as grafici" class="mx-3">
            <ng-container #grafico></ng-container>
            <ng-container *ngIf="grafici.length == 0">
              <p class="mt-4">
                {{'page.elaborazione.split_left.no_graph' | translate}}
                <strong>{{'button.add_elaboration' | translate }}</strong>
              </p>
            </ng-container>
          </div>

        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="validazioneLayout$!.default.slide_b ?? 0">
      <as-split direction="vertical" (dragEnd)="onSplitAreaResize($event, 'default', 'right')">
        <as-split-area [size]="validazioneLayout$!.default.slide_c ?? 0">
          <lista-parametri></lista-parametri>
        </as-split-area>
        <as-split-area [size]="validazioneLayout$!.default.slide_d ?? 0">
          <dettaglio-shared></dettaglio-shared>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>

  <as-split direction="horizontal" *ngIf="validazioneLayout$ && validazioneLayout$!.set === 'col'"
    (dragEnd)="onSplitAreaResize($event, 'col')">
    <as-split-area [size]="validazioneLayout$!.col.slide_a ?? 0">
      <as-split direction="vertical">
        <as-split-area>
          <!--blocco per la scelta del tipo di elaborazione-->
          <div class="d-flex justify-content-between align-items-baseline mt-3 mx-3">
            <h2>{{'page.elaborazione.split_left.title' | translate}} </h2>
            <button mat-button class="mat-primary-text btn-toggle-group--primary" (click)="addGrafico()">
              <mat-icon>add_box</mat-icon>
              {{'button.add_elaboration' | translate}}
            </button>
          </div>
          <div *ngIf="(graficiStore$ | async) as grafici" class="mx-3">
            <ng-container #grafico></ng-container>
            <ng-container *ngIf="grafici.length == 0">
              <p class="mt-4">
                {{'page.elaborazione.split_left.no_graph' | translate}}
                <strong>{{'button.add_elaboration' | translate }}</strong>
              </p>
            </ng-container>
          </div>

        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="validazioneLayout$!.col.slide_b ?? 0">
      <dettaglio-shared></dettaglio-shared>
    </as-split-area>

    <as-split-area [size]="validazioneLayout$!.col.slide_c ?? 0">
      <lista-parametri></lista-parametri>
    </as-split-area>
  </as-split>

  <as-split direction="horizontal" *ngIf="validazioneLayout$ && validazioneLayout$!.set === 'reverse'"
    (dragEnd)="onSplitAreaResize($event, 'reverse', 'right')">
    <as-split-area [size]="validazioneLayout$!.reverse.slide_a ?? 0">
      <as-split direction="vertical" (dragEnd)="onSplitAreaResize($event, 'reverse', 'left')">
        <as-split-area [size]="validazioneLayout$!.default.slide_c ?? 0">
          <lista-parametri></lista-parametri>
        </as-split-area>
        <as-split-area [size]="validazioneLayout$!.default.slide_d ?? 0">
          <dettaglio-shared></dettaglio-shared>
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="validazioneLayout$!.reverse.slide_b ?? 0">
      <as-split direction="vertical">
        <as-split-area>
          <!--blocco per la scelta del tipo di elaborazione-->
          <div class="d-flex justify-content-between align-items-baseline mt-3 mx-3">
            <h2>{{'page.elaborazione.split_left.title' | translate}} </h2>
            <button mat-button class="mat-primary-text" (click)="addGrafico()" class="btn-toggle-group--primary">
              <mat-icon>add_box</mat-icon>
              {{'button.add_elaboration' | translate}}
            </button>
          </div>
          <div *ngIf="(graficiStore$ | async) as grafici" class="mx-3">
            <ng-container #grafico></ng-container>
            <ng-container *ngIf="grafici.length == 0">
              <p class="mt-4">
                {{'page.elaborazione.split_left.no_graph' | translate}}
                <strong>{{'button.add_elaboration' | translate }}</strong>
              </p>
            </ng-container>
          </div>

        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>

</div>
